<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="SharpOT.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="sharpotEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SQLite;provider connection string=&quot;data source=E:\dev\tibia\SharpOT\Data\sharpot.sqlite;synchronous=Full&quot;"
      providerName="System.Data.EntityClient" />
  </connectionStrings>
  <userSettings>
    <SharpOT.Properties.Settings>
      <setting name="DatabaseFile" serializeAs="String">
        <value>Data\sharpot.db</value>
      </setting>
      <setting name="ItemDataFile" serializeAs="String">
        <value>Data\Tibia.dat</value>
      </setting>
      <setting name="WorldName" serializeAs="String">
        <value>Utopia</value>
      </setting>
      <setting name="Ip" serializeAs="String">
        <value>127.0.0.1</value>
      </setting>
      <setting name="Port" serializeAs="String">
        <value>7172</value>
      </setting>
      <setting name="MessageOfTheDay" serializeAs="String">
        <value />
      </setting>
      <setting name="ScriptsDirectory" serializeAs="String">
        <value>Data\Scripts</value>
      </setting>
      <setting name="ItemsXmlFile" serializeAs="String">
        <value>Data\items.xml</value>
      </setting>
      <setting name="ItemsOtbFile" serializeAs="String">
        <value>Data\items.otb</value>
      </setting>
      <setting name="SchemaFile" serializeAs="String">
        <value>Data\sharpot.sql</value>
      </setting>
    </SharpOT.Properties.Settings>
  </userSettings>
</configuration>