<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="sharpotEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SQLite;provider connection string=&quot;data source=E:\dev\tibia\SharpOT\Data\sharpot.sqlite;synchronous=Full&quot;"
      providerName="System.Data.EntityClient" />
    <add name="SharpOT.Properties.Settings.ConnectionString" connectionString="data source=E:\dev\tibia\SharpOT\Data\sharpot.sqlite;synchronous=Full"
      providerName="System.Data.SQLite" />
  </connectionStrings>
</configuration>