<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SharpOTMapTracker.Properties.Settings.ConnectionString"
            connectionString="data source=..\..\..\Data\sharpot.db;synchronous=Full"
            providerName="System.Data.SQLite" />
    </connectionStrings>
</configuration>